.hogwarts-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #3c3c3c;
  color: #fff;

  .logo-container {
    display: flex;
    align-items: center;
  }

  .hogwarts-logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }

  .hogwarts-label {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .nav-links {
    display: flex;

    a {
      color: #fff;
      text-decoration: none;
      margin-left: 20px;
      font-size: 1rem;
    }
  }
}
