.filter-popup {
  position: relative;
  display: inline-block;
  margin-right: 10px;

  .filter-header {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .filter-icon {
    margin-right: 5px;
  }

  .filter-options {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 1;
  }

  &.visible .filter-options {
    display: block;
  }

  .filter-options div {
    padding: 8px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #ddd;
    }
  }
}

.selected {
  background-color: #b3b3b3;
}
